.menu-bar {
  background-color: #1988f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  box-sizing: border-box;
}

.brand .title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.menu-right {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  color: green; homepage link
  background-color: blue;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 14px;
  text-decoration: none;
  border-radius: 4px;
}

.item:hover {
  background-color: rgba(73, 18, 173, 0.12);
}

@media (max-width: 560px) {
  .menu-right { display: none; }
  background-color: black;
}

